<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Your Plugin Test Suite">
            <directory prefix="test-" suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./your-plugin-directory</directory>
        </whitelist>
    </filter>
</phpunit>
