#icalc-left-bar {
    height: 100vh;
    background-color: lightgray;
    justify-content: space-evenly;
    border-radius: 20px 0 0 20px;
}

.icalc-draggable {
    width: 100px;
    height: 100px;
    background-color: royalblue;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    cursor: grab;
}

#icalc-dashboard {
    height: 100vh;
    background-color: whitesmoke;
}

#icalc-preview{
    background-color: whitesmoke;

    border-left: #0b0b0b 1px solid;
}



.icalc-dashboard-item {
    position: relative;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.icalc-dashboard-item:hover .icalc-move-controls {
    display: flex;
    padding: 8px;
    background-color: #0d7fad;
    border-radius: 8px;
    margin-left: 10px;
}

.icalc-move-controls {
    display: none;
}

.icalc-move-controls button {
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 5px;
    font-weight: bold;
    font-size: 150%;
    border-radius: 1px;
}

.icalc-draggable-option{
    border: 1px solid #0b0b0b;
    border-radius: 5px;
    box-shadow: #0d7fad 5px 3px 5px;
    overflow-block: auto;
}

.icalc-product-div, .icalc-service-div{
    overflow-block: auto;
}

.icalc-preview-box:before{
    content: "Preview:";
}


/* /////////////// dashboard styles end*/

.icalc-main-wrapper{
    position: relative;
}

.content-div {
    float: left;
    width: 90%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.visible {
    opacity: 0;
    visibility: visible;
    z-index: 2;
    animation: comeout 1s 0.5s ease-in-out forwards;
}

.display-none{
    display: none;
}

@keyframes comeout {
    0%{
        scale: 0;
        opacity: 0;

    }
    100%{
        scale: 100%;
        opacity: 1;
    }
}

.icalc-hidden-slow {
    z-index: 1;
    animation: hideout 1s ease-in-out forwards;
}

@keyframes hideout {
    0%{
        scale: 100%;
        opacity: 1;
    }
    100%{
        scale: 0;
        opacity: 1;
    }
}

button.icalc-toggle-creation {
    position: static;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    width: fit-content;
    height: auto;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.icalc-toggle-creation:hover {
    background-color: #0056b3;
}

.icalc-reappear{
    animation: reappearButton 1s forwards ease-in-out ;
}

@keyframes reapperButton {
    0%{
        opacity: 100;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}