.icalc-service-form-row{
    padding-top: 5px;
}


.icalc-service-form-row > .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.icalc-edit-table-space-between{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}